@model IEnumerable<eManager.Domain.Department>

@{
    ViewBag.Title = "Department Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul>
    @foreach(eManager.Domain.Department department in Model)
    {
        @*<li>@department.Name</li>*@
        <li>@Html.ActionLink(department.Name,"details","department",new{DepartmentId = @department.Id}, null) </li>
    }
</ul>

